<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar bg-dark" role="navigation">
        <h2>
            <a class="nav-link" href="#">SPORTS STORE</a>
        </h2>
    </div>
    <div class="row">
        <div id="categories" class="col-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-8">
            @RenderBody()
        </div>
    </div>

</body>
</html>